* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(245, 188, 244)
}

.Register-Form{
  width: 450px;
  transform:translate(-50%,-50%)
  position: absolute;
  top: 50%
  left: 50%
}

.Register-Form h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
  color: black;
}

.Register-Form p{
  font-size: 20px;
  margin: 15px 0;
  color: black;
}

.Register-Form input{
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline: none;
}
.Register-Form button {
  background-color: rgb(238, 93, 190);
  color: rgb(186, 13, 129); 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
button:hover {
  background-color: #45a049; 
}


